/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.bold-text{
    font-weight: bold;
}

.flex-container{
    display: flex;
}

.margin-zero-auto{
    margin: 0 auto;
    width: 50%;
}

nav{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-sec img{
    padding-top: 2px;
    height: 25px;
}

.logo-sec li, .login-sec li{
    padding: 0 1.5rem;
}

.nav-list{
    list-style-type: none;
    display: flex;
}

.login-sec{
    display: flex;
    align-items: center;
    width: 30%;
    height: 100%;
}

.jumbo{
    background-color: #b4d0e7;
    height: 650px;
}

.jumbo-container{
    margin: 0 auto;
    width: 60%;
}

.jumbo-header{
    font-size: 3.5rem;
    font-weight: 900;
    padding: 2rem 0rem;
    max-width: 750px;
}

.col-30{
    width: 30%;
}

.blue-button{
    border: none;
    background-color: #0061ff;
    color: white;
    padding: .7rem;
    margin: 1.5rem 0;
}

.col-30 i{
    position: absolute;
    bottom: 210px;
    font-size: 3rem;
    align-items: flex-end;
}

.col-70 img{
    position: absolute;
    bottom: 110px;
    right: 200px;
    width: 50%;
}

.business-plans{
    padding-top: 150px;
}

.business-plans h2{
    font-size: 2rem;
    padding-bottom: .9rem;
}

.business-plans input{
    display: inline-block;
    background-color: #005fff;
}

.business-plans input{
    padding-right: 1rem;
}

.business-cards{
    width: calc(100% - 2rem);
    justify-content: space-between;
    display: flex;
}

.plan-title{
    font-size: 0.5rem;
}

.third{
    width: calc( 100% / 3 );
    margin: 3rem 0;
    padding: .7rem 1.5rem;
    border: 1px solid lightgrey;
    display: flex;
}

.plan-target{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid lightgrey;
    padding: .5rem 0 .8rem 0;
}

.plan i{
    padding: 0 .3rem;
}

.plan{
    flex-direction: column;
}

.plan h2{
    padding-top: 2rem;
}

.plan p.price{
    font-weight: bold;
    padding: 0 0 .8rem 0;
}

.plan span.grey{
    color: grey;
}

ul{
    list-style-type: none;
}
/* 
.inner-sec-list{
    display: flex;
} */

ul.inner-sec-list i{
    font-size: .9rem;
}

.blue-button-sections{
    border: none;
    background-color: #0061ff;
    color: white;
    padding: .7rem 2.5rem;
    margin: 1.5rem 0;
}

.buy-now{
    padding-left: .2rem;
}

h3.price{
    padding: 2.5rem 0;
}

li.check i{
    color: #0061ff;
    /* display: flex; */
}

.li-padding li{
    padding: .4rem 0;
}

.enterprise-container{
    padding-bottom: 140px;
}

.enterprise-plan{
    width: 100%;
}

.enterprise{
    width: 100%;
    display: flex;
    justify-content: center;
    border: 1px solid lightgray;
}

.enterprise i{
    padding: 3px 0.3rem;
}

.enterprise-title{
    padding-top: 2rem;
}

.enterprise-section{
    margin: 0;
    padding: .7rem 1.5rem;
    border: 1px solid lightgrey;
    border-top: none;
    display: flex;
}

.enterprise-description{
    width: calc(100% - (1 / 3));
    justify-content: flex-start;
}

.enterprise-p{
    padding: 2rem 0 1.2rem 0;
}

.half-70{
    width: 70%;
}

.half-30{
    width: 30%;
}

.half-60{
    width: 600px;
}

.dropbox-partner{
    display: flex;
    margin-bottom: 5rem;
}

.partner-paragraph{
    display: flex;
    flex-direction: column;     
    width: 30%;
    padding: 2.2rem 2rem;
}

.partner-paragraph p{
    padding: 2rem 0;
}

.white-button{
    border: 1px solid black;
    color: black;
    background-color: white;
    padding: .7rem .2rem;
    margin: 1.5rem 0;
}

.business-cards-container{
    margin-bottom: 6rem;
}

.half-business{
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
    width: 100%;
}

.business-pro{
    width: 30%;
    height: auto;
    display: flex;
    margin: 3rem 2rem;
    flex-direction: column;
}

.business-pro h3{
    padding-bottom: 1.5rem;
}

.business-pro img{
    width: 100%;
}

.column{
    display: flex;
    flex-wrap: wrap;
    width: calc(100vw / 3);
    height: calc(100vw / 3);
}

article{
    background-color: beige;
    width: 50%;
    height: 50%;
}

.center-square{
    height: 30vw;
    border: 1PX solid black;
}

.bg-green{
    background-color: #a2d39b;
    border: 10px solid rgba(255, 255, 255, .6)
}

.bg-bordeaux{
    background-color: #61082b;
}
.bg-bordeaux:hover {
    background-color: #61082b;
}

.bg-lightblue{
    background-color: #0093ce;
}

.florida-img{
    padding: 45% 0;
}

.bg-red{
    background-color: #ff1c1c;
}

.bg-darkred{
    background-color: #d5001f;
}

.bg-lilac{
    background-color: #b4d0e7;
}

.bg-blue{
    background-color: #0d2481;
}

.bg-yellow{
    background-color: #ffd830;
}

article img{
    width: 50%;
    display: flex;
    margin: auto;
    height: 100%;
    filter: invert(1);
}

.central-col{
    background-color: #f5f5f5;
    align-items: flex-start;
    padding: 3rem 3rem;
}

.central-col img{
    color: black;
    width: 40%;
}

.column-2-3{
    width: 40%;
}

.free-trial{
    display: flex;
    height: 300px;
    background-color: #b4d0e7;
}

.free-trial h2{
    color: #61082b;
    width: 300px;
}

.blue-banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.trial-button{
    background-color: white;
    color: black;
    border: none;
    padding: .6rem 2rem;
}

.accordion-menu{
    padding-top: 5rem;
}

.accordion-menu h2{
    padding: 2.5rem 0;
}

.accordion-menu h3{
    display: inline-block;
    padding: 2.6rem 0;
    border-top: 2px solid lightgray;
}

.qna-container{
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid lightgray;
}

.qna-container button{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.qna-container i{
    padding-left: 150px;
}